.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.main-wrapper{
    display: flex;
    flex-direction: row;
    margin: 0 150px;
}
.main-img{
    display: flex;
    justify-content: start;
    width: 500px;
    margin: 20px;
}
.main-cont{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.main-cont-title{
    display: flex;
    justify-content: center;
    width: 90%;
}
.main-cont-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

