.body {
  margin: 30px;
}
.button {
  padding: 50px;
}

.click {
  padding: 30px;
}

.clickHere {
  padding: 60px;

  margin: 50px;
  background-color: gray;
}

.header {
  margin-bottom: 50px;
  margin: 50px 0 50px 0;
  background-color: orange;
}

.main {
  margin-bottom: 40px;
  background-color: green;
}
.main__topContent {
  margin-bottom: 70px;
}
.main__topContentText {
  margin-right: 100px;
}
.main__middleContentText {
  margin-right: 200px;
}


.main__topContentTextFirst {
  margin-right: 170px;
  margin-bottom: 30px;
  background-color: green;
}
.main__topContent {
  margin-bottom: 10px;
}
.main__topContentText {
  margin-right: 20px;
}
.main__middleContentText {
  margin-right: 30px;
}

.footer {
  background-color: pink;
}
.footer__text {
  margin-right: 100px;
}



  
  /*.main__text--lightsteelblue {
    background-color: lightsteelblue;
  }
  .main__text--lightgreen {
    background-color: lightgreen;
  }


/*.main {
    background-color: lightgray;
  }*/
  
  .main__text--red {
    background-color: red;
  }
  .main__text--green {
    background-color: green;

 .title {
    color: green;
   
 .pageTitle {
    color: blue;
  }

  .subTitle {
    color: orange;

  }
.about__title{
    color:orange;
}
.about__schoolDetailTitle{
    color:yellow;
}

.about__schoolDetailText{
    color:grey;
}

.about__targetDetailTitle{
    color:yellow;
}
.about__targetDetailText{
    color:grey;
}
.about__commentTitle{
    color:yellow;
}
.about__commentText{
    color:grey;
}